<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.ui.externaltools.ProgramLaunchConfigurationType">
<mapAttribute key="org.eclipse.debug.core.environmentVariables">
<mapEntry key="PYTHONPATH" value="${workspace_loc:/Telly/src}"/>
</mapAttribute>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_LOCATION" value="C:\Program Files\Python25\python.exe"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_TOOL_ARGUMENTS" value="-i&#13;&#10;&quot;C:\Program Files\Google\google_appengine\appcfg.py&quot;&#13;&#10;--config_file=${workspace_loc:/Telly/datatransfer/import/importer.py}&#13;&#10;--filename=D:\temp\winampbanacek\application_data_archive.csv&#13;&#10;--kind=Application&#13;&#10;--email=jubbynox@googlemail.com&#13;&#10;--passin&#13;&#10;upload_data&#13;&#10;D:\Development\Google\apps\banacekmusic"/>
</launchConfiguration>
